<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="breadcrumb__text">
        <h2>Add Announcement</h2>
      </div>
    </div>
  </div>
</div>
<section class="featured spad">
  <div class="container">
    <%= form_with model: Announcement , url: announcement_index_path ,local: true do |form| %>
      <div>
        <%= form.label :title ,class:"form-label"%>
        <%= form.text_field :title ,class:"form-control" %>
      </div>
      <div>
        <%= form.label :body ,class:"form-label"%>
        <%= form.text_area :body,class:"form-control", size: "70x5" %>
      </div>
      <br />
      <div>
        <%= form.submit "Create Announcement" ,class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
