<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="breadcrumb__text">
        <h2>Products</h2>
      </div>
    </div>
  </div>
</div>

<section class="featured spad">
  <div class="container">
    <div class="sidebar__item">
      <div class="blog__sidebar__search">
        <%= form_with   url: "/admin/products", method: :get ,local: true do |form| %>
        <%= form.text_field :search, placeholder: "Search..." ,class:"form-control" %>
        <%end%>
      </div>
    </div>
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th>Name</th>
          <th>Seller Email</th>
          <th>Hidden/Visible/Featured</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @records.order(:id).each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.seller.email %></td>
            <td><%= product.featured %></td>
            <td><%= link_to 'View', product_path(product.id),class:"btn btn-primary" %></td>
            <td><%= link_to 'Feature/Unfeature', switch_path(product.id),class:"btn btn-warning" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= pagy_bootstrap_nav(@pagy).html_safe  %>
  </div>
</section>