<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "kaDECA", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if not buyer_signed_in?  and not seller_signed_in?%>
          <li class="nav-item">
            <%= link_to "Sign Up", home_signup_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log In", home_login_path, class:"nav-link active" %>
          </li>
        <%elsif buyer_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_buyer_session_path,method: :delete, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit Profile", edit_buyer_registration_path, class:"nav-link active" %>
          </li>
        <%else%>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_buyer_session_path,method: :delete, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit Profile", edit_buyer_registration_path, class:"nav-link active" %>
          </li>
        <%end%>
          <li class="nav-item">
            <%= link_to "Announcements", home_announcement_path, class:"nav-link active" %>
          </li>
      </ul>
    </div>
  </div>
</nav>
