<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a href="#"><%= image_tag "logo.png" %></a>
  </div>
  <div class="humberger__menu__widget">
    <div class="header__top__right__auth">
      <%if buyer_signed_in?%>
        <a href="/buyers/sign_out" data-method="delete"><i class="fa fa-user"></i> Logout</a>
      <% elsif seller_signed_in? %>
        <a href="/sellers/sign_out" data-method="delete"><i class="fa fa-user"></i> Logout</a>
      <% elsif admin_signed_in? %>
        <a href="/admins/sign_out" data-method="delete"><i class="fa fa-user"></i> Logout</a>
      <%else%>
        <a href="/buyers/sign_in"><i class="fa fa-user"></i> Login</a>
      <%end%>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Shop", home_shop_path("all") %></li>
      <li><a href="#">Pages</a>
        <ul class="header__menu__dropdown">
          <li><a href="./shop-details.html">About</a></li>
          <li><a href="./shoping-cart.html">Shoping Cart</a></li>
          <li><a href="./checkout.html">Check Out</a></li>
        </ul>
      </li>
      <li><a href="/home/blog.html">Announcement</a></li>
      <li><a href="/home/contact.html">Contact</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="humberger__menu__contact">
    <ul>
      <% if buyer_signed_in? %>
        <li><i class="fa fa-envelope"></i> <%= current_buyer.email %>!</li>
        <li>Welcome <%= current_buyer.name %></li>
      <% elsif seller_signed_in? %>
        <li><i class="fa fa-envelope"></i> <%= current_seller.email %>!</li>
        <li>Welcome <%= current_seller.name %></li>
      <% else  %>
        <li><i class="fa fa-envelope"></i> kadeca@gmail.com</li>
        <li>kaDECA, your one place marketplace!</li>
      <%end%>
    </ul>
  </div>
</div>
<!-- Humberger End -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <% if buyer_signed_in? %>
                <li><i class="fa fa-envelope"></i> <%= current_buyer.email %></li>
                <li>Welcome <%= current_buyer.name %>!</li>
              <% elsif seller_signed_in? %>
                <li><i class="fa fa-envelope"></i> <%= current_seller.email %></li>
                <li> <%= current_seller.name %><%= current_seller.contact %><%= current_seller.blk %><%= current_seller.lot %></li>
              <% elsif admin_signed_in? %>
                <li><i class="fa fa-envelope"></i> <%= current_admin.email %></li>
                <li> Welcome Admin!</li>
              <% else  %>
                <li><i class="fa fa-envelope"></i> kadeca@gmail.com</li>
                <li>kaDECA, your one place marketplace!</li>
              <%end%>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <%if buyer_signed_in?%>
                <a href="/buyers/edit" ><i class="fa fa-cog"></i> Account</a>
              <% elsif seller_signed_in? %>
                <a href="/sellers/edit"><i class="fa fa-cog"></i> Account</a>
              <%else%>
                <a href="#"><i class="fa fa-facebook"></i></a>
              <%end%>
            </div>
            <div class="header__top__right__auth">
              <%if buyer_signed_in?%>
                <a href="/buyers/sign_out" data-method="delete"><i class="fa fa-user"></i> Logout</a>
              <% elsif seller_signed_in? %>
                <a href="/sellers/sign_out" data-method="delete"><i class="fa fa-user"></i> Logout</a>
              <% elsif admin_signed_in? %>
                <a href="/admins/sign_out" data-method="delete"><i class="fa fa-user"></i> Logout</a>
              <%else%>
                <a href="/buyers/sign_in"><i class="fa fa-user"></i> Login</a>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <%if admin_signed_in?%>
          <a href="/admin/dashboard"><%= image_tag "logo.png" %></a>
          <%else%>
          <a href="/"><%= image_tag "logo.png" %></a>
          <%end%>
        </div>
      </div>
      <div class="col-lg-9">
        <nav class="header__menu">
          <%if seller_signed_in?%>
          <ul>
            <li><%= link_to "Dashboard", root_path %></li>
            <li><%= link_to "Products", sellers_products_path %></li>
            <li><a href="/home/blog.html">Announcement</a></li>
            <li><a href="/home/contact.html">Contact</a></li>
          </ul>
          <%elsif admin_signed_in?%>
          <ul>
            <li><%= link_to "Dashboard", admin_dashboard_path %></li>
            <li><%= link_to "Buyers", admin_buyers_path %></li>
            <li><%= link_to "Sellers", admin_sellers_path %></li>
            <li><%= link_to "Products", admin_products_path %></li>
            <li><%= link_to "Announcements", admin_announcements_path %></li>
          </ul>
          <%else%>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Shop", home_shop_path("all") %></li>
            <li><%= link_to "About", home_shop_path("all") %></li>
            <li><a href="/home/blog.html">Announcement</a></li>
            <li><a href="/home/contact.html">Contact</a></li>
          </ul>
          <%end%>
          
        </nav>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
